{% extends "base.twig" %}

{% block content %}

    <div class="container">
        <h2>Kodas:</h2>


        <textarea style="width: 500px;height: 150px;">
            <script src="http://php-task.daniel-dev.com/lib/widget.js"></script>
            <script>
                initFeed('http://php-task.daniel-dev.com/get-news');
            </script>

            <div id="news-widget"></div>
         </textarea>

        <h2>Statistika:</h2>
        <a href="/statistics">/statistics</a>

        <h2>Demo:</h2>
        <a href="/test.html">/test.html</a>
    </div>
{% endblock %}