<div style="width: 400px;">
    <h2><strong>Last five news:</strong></h2>
    {% for item in news %}
        <a href="{{ url('click', {hash: item.hash}) }}">
            <h4>
                <strong>{{ item.title > 100 ? item.title|slice(0, 100) ~ '...' : item.title }}</strong>
            </h4>
        </a>
        <div style="display: flex;">
            <div style="  flex: 0 0 15%;">
                <img src="{{ item.img_url }}" alt="" width="50" height="50" />
            </div>
            <div style="  flex: 1;">
                {{ item.text|length > 150 ? item.text|slice(0, 150) ~ '...' : item.text }}
            </div>
        </div>
    {% endfor %}
</div>