{% extends "base.twig" %}

{% block content %}

<div class="container">

    <h3>Statistics</h3>

    <table class="table table-striped">

        <tr>
            <th>Domain</th>
            <th>Views</th>
            <th>Clicks</th>
            <th>Date</th>
        </tr>

        {% for item in table %}
            <tr>
                <td>{{ item.domain }}</td>
                <td>{{ item.views }}</td>
                <td>{{ item.clicks }}</td>
                <td>{{ item.date|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}


